@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Open Sans;
    color: #fff;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 40px;
  margin: auto;
  padding: 15px 0 0 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: none;
}

span {
  position: relative;
  width: 100%;
}

a {
  font-family: Open Sans;
  font-size: 18px;
  text-decoration: none solid rgb(255, 255, 255);
  color: #fff;
  padding: 0 3% 0 3%;
  opacity: 0.85;
}

span>a:before {
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  top: 28px;
  right: 15%;
  background-color: #fff;
  opacity: 0.85;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.12s ease-in-out 0s;
  transition: all 0.12s ease-in-out 0s;
}

span>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

section {
  min-height: 1000px;
  padding: 6em 0em 3em 0em;
  background-color: #47364f;
}

footer {
  width: 100%;
  background-color: darkgray;
}

h1 {
  font-size: 54px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  opacity: 0.95;
}

h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding-top: 0em;
  padding-bottom: 1em;
  padding-left: 1.9em;
  text-align: left;
  opacity: 0.80;
}

h3 {
  font-size: 36px;
  color: #fff;
}

p {
  width: 40%;
}

.landing {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 3em 0 3em;
  height: 800px;
  border-width: 0 0 10px 0;
  border-color: #8293cf;
  border-style: solid;
  background-image: -webkit-linear-gradient(bottom, #422A7D 8%, #a1529f 100%);
  background-image: -moz-linear-gradient(bottom, #422A7D 8%, #a1529f 100%);
  background-image: -o-linear-gradient(bottom, #422A7D 8%, #a1529f 100%);
  background-image: linear-gradient(to top, #422A7D 8%, #a1529f 100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.leftheader, .rightheader {
    background-image: url(/img/path1.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 165px;
}

.leftcontent {
    color: #fff;
    transition: 0.3s;
}

.leftcopy {
    padding-top: 2em;
    font-size: 18px;
    padding-left: 6.2em;
}

.rightcontent  {
    float: right;
}

.rightheader {
  background-image: url("/img/path2.svg");
  margin: 0;
}

.rightcopy {
  padding-left: 4.4em;
  position: relative;
}

.right {
  margin-right: 266px;
}

.intro {
  padding-top: 30em;
  padding-bottom: 6em;
}

.anim {
  position: relative;
}

.screens {
  position: relative;
  transition: 0.35s;
}

.sketch1 {
  position: absolute;
  top: 150px;
  left: -200px;
  width: 46px;
  height: 51px;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: reveal 0.7s ease-out;
  -webkit-animation: reveal 0.7s ease-out;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.sketch2 {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 61px;
  height: 68px;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: sketch2 0.7s ease-out;
  -webkit-animation: sketch2 0.7s ease-out;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
  transform: rotate(5deg);
  transition: 0.4s;
}

.sketch3 {
  position: absolute;
  top: 180px;
  left: 40px;
  width: 61px;
  height: 68px;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: sketch3 0.6s ease-out;
  -webkit-animation: sketch3 0.6s ease-out;
  animation-delay: 0.52s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
  transform: rotate(5deg);
  transition: 0.4s;
}

.sketch4,
.sketch5 {
  position: absolute;
  top: 105px;
  left: 45px;
  width: 61px;
  height: 68px;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: sketch4 0.6s ease-out;
  -webkit-animation: sketch4 0.6s ease-out;
  animation-delay: 0.6s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
  transform: rotate(5deg);
}

.sketch5 {
  top: 185px;
  left: 35px;
}

.sketch6 {
  position: absolute;
  top: 151px;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: sketch6 0.85s ease-out;
  -webkit-animation: sketch6 0.85s ease-out;
  animation-delay: 0.6s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
  transition: 0.4s;
}

@keyframes reveal {
  to {
    transform: translateX(270px);
    opacity: 0.7;
  }
}

@keyframes sketch2 {
  to {
    transform: translateX(145px) translateY(25px) rotate(5deg) scale(0.8);
    opacity: 0.7;
  }
}

@keyframes sketch3 {
  to {
    transform: translateX(150px) translateY(10px) rotate(20deg) scale(0.8);
    opacity: 0.75
  }
}

@keyframes sketch4 {
  to {
    transform: translateX(275px) translateY(5px) rotate(15deg) skew(2deg) scale(0.95);
    opacity: 0.55;
  }
}

@keyframes sketch6 {
  to {
    transform: translateX(430px) scale(0.9);
    opacity: 0.7;
  }
}

.phone,
.pc {
  position: absolute;
  top: 109px;
  left: 650px;
  opacity: 0;
  mix-blend-mode: overlay;
  animation: devices 0.7s ease-out;
  -webkit-animation: devices 0.7s ease-out;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.pc {
  top: 40px;
  left: 750px;
}

@keyframes devices {
  to {
    transform: translateX(10px);
    opacity: 0.75;
  }
}

.phoneline1,
.phoneline2 {
  position: absolute;
  top: 129px;
  left: 677px;
  width: 0px;
  height: 12px;
  border-radius: 4px;
  mix-blend-mode: difference;
  opacity: 0;
  background-color: #ababab;
  background-size: cover;
  animation: phonelines 0.7s ease-out;
  -webkit-animation: phonelines 0.7s ease-out;
  animation-delay: 1.4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.phoneline2 {
  top: 150px;
  animation-delay: 1.5s;
}

@keyframes phonelines {
  to {
    width: 51px;
    opacity: 0.4;
  }
}

.pcline1 {
  position: absolute;
  top: 72px;
  left: 787px;
  width: 0px;
  height: 13px;
  border-radius: 4px;
  mix-blend-mode: difference;
  opacity: 0;
  background-color: #ababab;
  background-size: cover;
  animation: pclines 0.75s ease-out;
  -webkit-animation: pclines 0.75s ease-out;
  animation-delay: 1.4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.pcline2 {
  position: absolute;
  top: 98px;
  left: 787px;
  width: 0px;
  height: 13px;
  border-radius: 4px;
  mix-blend-mode: difference;
  opacity: 0;
  background-color: #ababab;
  background-size: cover;
  animation: pclines2 0.75s ease-out;
  -webkit-animation: pclines2 0.75s ease-out;
  animation-delay: 1.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

@keyframes pclines {
  to {
    width: 140px;
    opacity: 0.4;
  }
}

@keyframes pclines2 {
  to {
    width: 120px;
    opacity: 0.4;
  }
}

.frame {
  padding-left: 2.4em;
  margin: 0;
  padding: 0;
}

button {
  background-color: #975fa3;
  border: none;
  position: absolute;
  top: 272px;
  left: 103px;
  width: 139px;
  height: 53px;
  border-radius: 15px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  animation-fill-mode: forwards;
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.butout {
  transform: translateX(120px) translateY(43px)rotateY(20deg) rotateX(-11deg);
  box-shadow: -9px 15px 21px 4px rgba(0, 0, 0, 0.35);
  transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-style: preserve-3d;
}

.icon {
  background-color: none;
  z-index: 9;
}


@media only screen and (max-width: 1200px) {
  .landing {
    padding: 1em 1em 1em 1em;
  }
    .leftcontent {
        padding-bottom: 4em;
    }
    .leftheader, .rightheader {
        height: 50px;
    }
    h3 {
        font-size: 1.8em;
    }
    p {
        width: 60%;
        font-size: 0.9em;
        padding-left: 1.7em;
    }
    button {
        top: 266px;
    }
}

@media only screen and (max-width: 1140px) {
  .screens {
    right: 3em;
  }
  .sketch4,
  .sketch5 {
    left: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .screens {
    right: 10em;
  }
  .sketch4,
  .sketch5 {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .screens {
    right: 15em;
  }
  .sketch2,
  .sketch3 {
    left: -10px;
  }
  .sketch6 {
    left: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .screens {
    right: 20em;
  }
  .sketch2,
  .sketch3,
  .sketch4,
  .sketch5 {
    display: none;
  }
  .sketch6 {
    left: 25px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 24px;
    padding-left: 2.2em;
  }
  .screens {
    right: 38.5em;
  }
  .pc {
    top: 190px;
    left: 653px;
  }
  .pcline1,
  .pcline2 {
    top: 220px;
    left: 687px;
  }
  .pcline2 {
    top: 243px;
  }
  .anim {
    left: -25px;
    top: -56px;
  }
  .phone {
    top: 40px;
    left: 917px;
  }
  .phoneline1,
  .phoneline2 {
    top: 60px;
    left: 944px;
  }
  .phoneline2 {
    top: 80px;
  }
  .sketch6 {
    top: 82px;
    left: 300px;
  }
    .leftheader {
        width: 320px;
        padding-left: 4em;
    }
    .rightheader {
        width: 240px;
        padding-left: 7em;
        margin-left: 0.1em;
    }
    p {
        padding-left: 0;
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .leftheader {
        width: 85%;
        padding: 0;
        padding-right: 15%;
    }
    .rightheader {
        width: 85%;
        padding: 0;
        margin: 0;
        padding-left: 15%;
    }
    .leftcopy {
        padding-left: 10%;
    }
    h3 {
        font-size: 1.4em;
    }
    p {
        font-size: 0.8em;
    }
    button {
        top: 262px;
    }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
    padding-left: 1.9em;
  }
  .landing {
    right: 20em;
    zoom: 0.9;
    -moz-transform: scale(0.9);
  }
  nav {
    text-align: center;
  }
  a {
    font-size: 16px;
      padding-left: 5%;
      padding-right: 5%;
  }
    .screens {
        right: 39em;
    }
    .frame {
        zoom: 0.68;
        -moz-transform: scale(0.68);
    }
    button {
        zoom: 0.68;
        -moz-transform: scale(0.68);
        top: 284px;
        left: 139px;
    }

}

@media only screen and (max-width: 400px) {
  .landing {
    right: 20em;
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
    p {
        font-size: 0.72em;
    }
    button {
        top: 274px;
    }
}

@media only screen and (max-width: 340px) {
  .landing {
    zoom: 0.7;
    -moz-transform: scale(0.7);
  }
}

@media only screen and (max-width: 315px) {
  .landing {
    zoom: 0.65;
    -moz-transform: scale(0.6);
  }
}

@media only screen and (max-width: 290px) {
  .landing {
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
}

@media only screen and (max-width: 250px) {
  .landing {
    zoom: 0.5;
    -moz-transform: scale(0.5);
  }
}
